<div class="section--center mdl-grid site-max-width">
  <div class="mdl-cell mdl-cell--4-col"></div>
  <div class="mdl-cell mdl-cell--4-col  mdl-cell--middle mdl-card mdl-shadow--4dp page-content">
    <div class="mdl-card__title">
      <h1 class="mdl-card__title-text">Login</h1>
    </div>
    <div class="mdl-card__supporting-text">
      <form action="/admin/login" method="POST" class="form-contact">
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
          <input class="mdl-textfield__input" type="email" id="email" required name="email">
          <label class="mdl-textfield__label" for="Email">Email...</label>
        </div>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
          <input class="mdl-textfield__input" type="password" id="password" required name="password">
          <label class="mdl-textfield__label" for="password">Password...</label>
        </div>
        <p>
          <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" type="submit">Login</button>
        </p>
      </form>
    </div>
  </div>
</div>
