<header class="mdl-layout__header mdl-layout__header--waterfall site-header">
  <div class="mdl-layout__header-row site-logo-row">
    <span class="mdl-layout__title">
      <div class="site-logo">
        <a href="/">
          <img src="https://image.ibb.co/bv9YUc/site_logo.png" alt="site logo">
        </a>
      </div>
      <span class="site-description">Technomaniac</span>
    </span>
  </div>
  {{#if user}}
    <div class="mdl-layout__header-row site-navigation-row mdl-layout--large-screen-only">
      <nav class="mdl-navigation mdl-typography--body-1-force-preferred-font">
        <a class="mdl-navigation__link" href="/admin">Dashboard</a>
        <a class="mdl-navigation__link" href="/admin/articles">Articles</a>
        <a class="mdl-navigation__link" href="/admin/subscribers">Subscribers</a>
        <a class="mdl-navigation__link" href="/admin/interact/bulk">Interact</a>
        <a class="mdl-navigation__link" href="/admin/logout">Logout</a>
      </nav>
    </div>
  {{/if}}
</header>
{{#if user}}
  <div class="mdl-layout__drawer mdl-layout--small-screen-only">
    <nav class="mdl-navigation mdl-typography--body-1-force-preferred-font">
      <a class="mdl-navigation__link" href="/admin">Dashboard</a>
      <a class="mdl-navigation__link" href="/admin/articles">Articles</a>
      <a class="mdl-navigation__link" href="/admin/subscribers">Subscribers</a>
      <a class="mdl-navigation__link" href="/admin/interact/bulk">Interact</a>
      <a class="mdl-navigation__link" href="/admin/logout">Logout</a>
    </nav>
  </div>
{{/if}}
