<footer class="mdl-mini-footer">
  <div class="footer-container">
    <div class="mdl-logo">
      <span id="developer">Rohit Bokade</span>
      <div class="mdl-tooltip" data-mdl-for="developer">
        <strong>Site Developer</strong>
      </div>
      <a href="https://github.com/bokaderohit98" target="_blank"><img src="/img/github.ico" style="width: 40px"><a>
    </div>
    <ul class="mdl-mini-footer__link-list">
      <li><a href="#">Privacy & Terms</a></li>
    </ul>
  </div>
</footer>
