{{#if article}}
<title>{{article.title}}</title>
<meta name="description" content={{article.description}}>
<meta name="keywords" content={{article.description}}>
{{else}}
  <title>Technomaniac</title>
  <meta name="description" content="tech blog to keep you updated with new technologies">
  <meta name="keywords" content="tech, blog, tecnomaniac, technologies, smarthphone">
{{/if}}
