{{#if success_msg}}
  <span class="mdl-chip mdl-chip--deletable" style="background: #8BC34A">
  <span class="mdl-chip__text">{{success_msg}}</span>
  <button type="button" class="mdl-chip__action"><i class="material-icons">cancel</i></button>
  </span>
{{/if}}


{{#if error_msg}}
  <span class="mdl-chip mdl-chip--deletable" style="background: #F44336; color: #ffffff">
  <span class="mdl-chip__text">{{error_msg}}</span>
  <button type="button" class="mdl-chip__action"><i class="material-icons">cancel</i></button>
  </span>
{{/if}}
