<header class="mdl-layout__header mdl-layout__header--waterfall site-header">
  <div class="mdl-layout__header-row site-logo-row">
    <span class="mdl-layout__title">
      <div class="site-logo"></div>
      <span class="site-description">Technomaniac</span>
    </span>
  </div>
  <div class="mdl-layout__header-row site-navigation-row mdl-layout--large-screen-only">
    <nav class="mdl-navigation mdl-typography--body-1-force-preferred-font">
      <a class="mdl-navigation__link" href="/">Home</a>
      <a class="mdl-navigation__link" href="/articles">Articles</a>
      <a class="mdl-navigation__link" href="/about">About</a>
      <a class="mdl-navigation__link" href="/contact">Contact</a>
      <a class="mdl-navigation__link" href="/subscribe">Subscribe</a>
    </nav>
  </div>
</header>
<div class="mdl-layout__drawer mdl-layout--small-screen-only">
  <nav class="mdl-navigation mdl-typography--body-1-force-preferred-font">
    <a class="mdl-navigation__link" href="/">Home</a>
    <a class="mdl-navigation__link" href="/articles">Articles</a>
    <a class="mdl-navigation__link" href="/about">About</a>
    <a class="mdl-navigation__link" href="/contact">Contact</a>
    <a class="mdl-navigation__link" href="/subscribe">Subscribe</a>
  </nav>
</div>
