<nav class="fab-container">
  <a href='javascript:window.open("https://plus.google.com/share?url={{link}}", "Popup", "location,status,scrollbars,resizable,width=600, height=400");' class="buttons" tooltip="Google+"></a>
  <a href='javascript:window.open("https://www.facebook.com/sharer.php?u={{link}}", "Popup", "location,status,scrollbars,resizable,width=600, height=400");' class="buttons" tooltip="Twitter"></a>
  <a href='javascript:window.open("https://www.facebook.com/sharer.php?u={{link}}", "Popup", "location,status,scrollbars,resizable,width=600, height=400");' class="buttons" tooltip="Facebook"></a>
  <a class="buttons" tooltip="Share" href="#"></a>
</nav>
