<nav class="card-fab-container">
  <a href='javascript:window.open("https://www.facebook.com/sharer.php?u={{link}}", "Popup", "location,status,scrollbars,resizable,width=600, height=400");' class="card-buttons"><img src="/img/facebook.svg"></a>
  <a href='javascript:window.open("http://twitter.com/share?url={{link}}", "Popup", "location,status,scrollbars,resizable,width=600, height=400");' class="card-buttons"><img src="/img/twitter.svg"></a>
  <a href='javascript:window.open("https://plus.google.com/share?url={{link}}", "Popup", "location,status,scrollbars,resizable,width=600, height=400");' class="card-buttons"><img src="/img/google.svg"></a>
  <a class="card-buttons" href="#"><img src="/img/share.svg"></a>
</nav>
