<ul class="subscribers-list-icon mdl-lists" style="margin-top: 0; margin-bottom: 0">
  {{#each subscribers}}
    <li class="mdl-list__item">
      <span class="mdl-list__item-primary-content">
    <i class="material-icons mdl-list__item-icon">person</i>
    {{name}}
    </span>
    </li>
  {{/each}}
</ul>
