<tr>
  <td bgcolor="#ffffff">
    <table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%">
      <tr>
        <td style="padding: 40px 40px 10px 40px; font-family: sans-serif; font-size: 12px; line-height: 18px; color: #666666; text-align: center; font-weight:normal;">
          <p style="margin: 0;">New Delhi, India</p>
        </td>
      </tr>
      <tr>
        <td style="padding: 0px 40px 10px 40px; font-family: sans-serif; font-size: 12px; line-height: 18px; color: #666666; text-align: center; font-weight:normal;">
          <p style="margin: 0;">This email was sent to you from Technomaniac</p>
        </td>
      </tr>
      {{#if subscriber}}
      <tr>
        <td style="padding: 0px 40px 10px 40px; font-family: sans-serif; font-size: 8px; line-height: 18px; color: #666666; text-align: center; font-weight:normal;">
          <p style="margin: 0;"><a href="#">Unsubscribe</p>
        </td>
      </tr>
      {{/if}}
      <tr>
        <td style="padding: 0px 40px 40px 40px; font-family: sans-serif; font-size: 12px; line-height: 18px; color: #666666; text-align: center; font-weight:normal;">
          <p style="margin: 0;">Copyright &copy; 2018 <b>Technomaniac</b>, All Rights Reserved.</p>
        </td>
      </tr>
    </table>
  </td>
</tr>
