<tr>
  <td bgcolor="#333333">
    <table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%">
      <tr>
        <td style="padding: 30px 40px 30px 40px; text-align: center;">
          <img src="https://image.ibb.co/bv9YUc/site_logo.png" width="50" height="50" alt="alt_text" border="0" style="height: auto; font-family: sans-serif; font-size: 15px; line-height: 20px; color: #555555;">
        </td>
      </tr>
    </table>
  </td>
</tr>
