<tr>
  <td bgcolor="#292828">
    <table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%">
      <tr>
        <td style="padding: 30px 30px; text-align: center;">
          <table align="center" style="text-align: center;">
            <tr>
              <td>
                <a href="https://www.facebook.com/sharer.php?u=https%3A%2F%2Ftechnomaniac.herokuapp.com" target="_blank">
                  <img src="https://image.ibb.co/fhw2Nx/facebook.png" width="40px" height="40px" style="margin:0; padding:0; border:none; display:block;" border="0" alt="">
                </a>
              </td>
              <td width="10">&nbsp;</td>
              <td>
                <a href="http://twitter.com/share?url=https%3A%2F%2Ftechnomaniac.herokuapp.com" target="_blank">
                  <img src="https://image.ibb.co/dzOGhx/twitter.png" width="40px" height="40px" style="margin:0; padding:0; border:none; display:block;" border="0" alt="">
                </a>
              </td>
              <td width="10">&nbsp;</td>
              <td>
                <a href="https://plus.google.com/share?url=https%3A%2F%2Ftechnomaniac.herokuapp.com" target="_blank">
                  <img src="https://image.ibb.co/m1nWFH/google_plus.png" width="40px" height="40px" style="margin:0; padding:0; border:none; display:block;" border="0" alt="">
                </a>
              </td>
              <td width="10">&nbsp;</td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </td>
</tr>
