<div class="mdl-grid site-max-width">
  <div class="mdl-cell mdl-cell--12-col mdl-card mdl-shadow--4dp page-content">
    <div class="mdl-card__title">
      <h1 class="mdl-card__title-text">Contact</h1>
    </div>
    <div class="mdl-grid site-copy">
      <div class="mdl-cell mdl-cell--12-col">
        <div class="mdl-card__supporting-text">
          <form action="/contact" method="POST" class="form-contact">
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
              <input class="mdl-textfield__input" pattern="[A-Z,a-z, ]*" type="text" id="name" required name="name" value= {{name}}>
              <label class="mdl-textfield__label" for="name">Name...</label>
              <span class="mdl-textfield__error">Letters and spaces only</span>
            </div>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
              <input class="mdl-textfield__input" type="email" id="email" name="email" required value= {{email}}>
              <label class="mdl-textfield__label" for="email">Email...</label>
            </div>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
              <textarea class="mdl-textfield__input" type="text" rows="5" id="message" required name="message">{{message}}</textarea>
              <label class="mdl-textfield__label" for="message">Message</label>
            </div>
            <p>
              <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" type="submit">Send</button>
            </p>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
