<div class="mdl-grid site-max-width" style="margin-top: 100px">
  <div class="mdl-cell--3-col"></div>
  <div class="mdl-cell mdl-cell--6-col mdl-card mdl-shadow--4dp portfolio-card">
    <div class="mdl-card__media mdl-cell mdl-cell--12-col">
      <img class="article-image" src="https://image.ibb.co/edtBHx/unsubscribed.png" border="0" alt="" style="background: #ffffff">
    </div>
    <div class="mdl-card__title">
      <h2 class="mdl-card__title-text"  style="text-align: centre;">Successfully Unsubscribed</h2>
    </div>
    <div class="mdl-card__supporting-text">
      <p>It won't be same without you. You have been successfully removed from our subscriber's list.
      You won't hear from us again in future until you re-subscribe.</p>
      - Team Technomaniac.
    </div>
  </div>
</div>
